stages:
  - container
  - container:boot

.default-retry:
  retry:
    max: 2
    when:
      - api_failure
      - data_integrity_failure
      - job_execution_timeout
      - runner_system_failure
      - scheduler_failure
      - stuck_or_timeout_failure
      - unknown_failure

.dind:
  variables:
    DOCKER_MIRROR: https://mirror.gcr.io
    DOCKER_OPTIONS: "--registry-mirror ${DOCKER_MIRROR}"
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: /certs
  services:
    - name: docker:28.5.2-dind
      alias: docker
      entrypoint: [ "sh", "-c", "dockerd-entrypoint.sh $DOCKER_OPTIONS" ]

include:
  - local: .gitlab/ci/*.gitlab-ci.yml
