name: codezero

services:
  config-generator:
    image: ${IMAGE_REGISTRY}/config-generator:${IMAGE_TAG}
    env_file:
      - .env
    volumes:
      - generated-configs:/generated-configs
    restart: "no"
    profiles:
      - ide

  postgres:
    image: postgres:16.13
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    profiles:
      - ide

  sagittarius-rails-web:
    image: ${IMAGE_REGISTRY}/sagittarius:${IMAGE_TAG}-${IMAGE_EDITION}
    depends_on:
      config-generator:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    environment:
      INITIAL_ROOT_PASSWORD: ${INITIAL_ROOT_PASSWORD}
      INITIAL_ROOT_MAIL: ${INITIAL_ROOT_MAIL}
    volumes:
      - generated-configs:/tmp/generated-configs:ro
    entrypoint: |
      sh -c "
        cp /tmp/generated-configs/sagittarius.sagittarius.yml config/sagittarius.yml
        exec bin/docker-entrypoint ./bin/rails server
      "
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:3000/health/liveness"]
      interval: 10s
      timeout: 5s
      retries: 5
    profiles:
      - ide

  sagittarius-rails-background:
    image: ${IMAGE_REGISTRY}/sagittarius:${IMAGE_TAG}-${IMAGE_EDITION}
    depends_on:
      sagittarius-rails-web:
        condition: service_healthy
    volumes:
      - generated-configs:/tmp/generated-configs:ro
    entrypoint: |
      sh -c "
        cp /tmp/generated-configs/sagittarius.sagittarius.yml config/sagittarius.yml
        exec bin/docker-entrypoint bundle exec good_job
      "
    restart: unless-stopped
    profiles:
      - ide

  sagittarius-grpc:
    image: ${IMAGE_REGISTRY}/sagittarius:${IMAGE_TAG}-${IMAGE_EDITION}
    depends_on:
      sagittarius-rails-web:
        condition: service_healthy
    volumes:
      - generated-configs:/tmp/generated-configs:ro
    entrypoint: |
      sh -c "
        cp /tmp/generated-configs/sagittarius.sagittarius.yml config/sagittarius.yml
        exec bin/docker-entrypoint ./bin/grpc_server
      "
    restart: unless-stopped
    profiles:
      - ide

  sculptor:
    image: ${IMAGE_REGISTRY}/sculptor:${IMAGE_TAG}-${IMAGE_EDITION}
    restart: unless-stopped
    profiles:
      - ide

  nginx:
    image: nginx:1.29.5-alpine-slim
    depends_on:
      config-generator:
        condition: service_completed_successfully
      sagittarius-rails-web:
        condition: service_started
      sagittarius-grpc:
        condition: service_started
      sculptor:
        condition: service_started
    volumes:
      - generated-configs:/tmp/generated-configs:ro
      - ./certs:/etc/nginx/certs:ro
    entrypoint: |
      sh -c "
        cp /tmp/generated-configs/nginx.default.conf /etc/nginx/conf.d/default.conf
        nginx -t
        exec nginx -g 'daemon off;'
      "
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    restart: unless-stopped
    profiles:
      - ide

  nats:
    image: nats:2.11.9
    command:
      - -js
    profiles:
      - runtime

  aquila:
    depends_on:
      - nats
    image: ${IMAGE_REGISTRY}/aquila:${IMAGE_TAG}
    environment:
      MODE: dynamic
      NATS_URL: nats://nats:4222
      NATS_BUCKET: 'flow_store'
      GRPC_HOST: 0.0.0.0
      SAGITTARIUS_URL: "${AQUILA_SAGITTARIUS_URL}"
      RUNTIME_TOKEN: "${AQUILA_SAGITTARIUS_TOKEN}"
    profiles:
      - runtime

  taurus:
    depends_on:
      - nats
      - aquila
    image: ${IMAGE_REGISTRY}/taurus:${IMAGE_TAG}
    environment:
      MODE: dynamic
      AQUILA_URL: 'http://aquila:8081'
      NATS_URL: nats://nats:4222
      DEFINITION_PATH: '/definitions'
    profiles:
      - runtime

  draco-rest:
    depends_on:
      - nats
    image: ${IMAGE_REGISTRY}/draco:${IMAGE_TAG}-rest
    environment:
      MODE: dynamic
      AQUILA_URL: 'http://aquila:8081'
      NATS_URL: nats://nats:4222
      NATS_BUCKET: 'flow_store'
      DEFINITION_PATH: '/definitions'
      HTTP_SERVER_PORT: 8084
      HTTP_SERVER_HOST: "0.0.0.0"
    ports:
      - "${DRACO_REST_PORT}:8084"
    profiles:
      - runtime

  draco-cron:
    depends_on:
      - nats
    image: ${IMAGE_REGISTRY}/draco:${IMAGE_TAG}-cron
    environment:
      MODE: dynamic
      AQUILA_URL: 'http://aquila:8081'
      NATS_URL: nats://nats:4222
      NATS_BUCKET: 'flow_store'
      DEFINITION_PATH: '/definitions'
    profiles:
      - runtime

volumes:
  generated-configs:
  postgres-data:
