.container:boot:
  extends:
    - .dind
    - .default-retry
  tags:
    - c0-$PLATFORM
  stage: container:boot
  image: ghcr.io/code0-tech/build-images/reticulum-builder:227.1-ruby-3.4.7-$PLATFORM
  variables:
    COMPOSE_FILE: support/docker-compose.yml
  parallel:
    matrix:
      - PLATFORM:
          - amd64
          - arm64

.container:boot:sagittarius:
  extends:
    - .container:boot
  needs:
    - generate-environment
    - manifest:sagittarius
  parallel:
    matrix:
      - SAGITTARIUS_VARIANT:
          - ce
          - ee
        PLATFORM:
          - amd64
          - arm64
  before_script:
    - docker compose up postgres -d
    - docker compose up sagittarius-$SAGITTARIUS_SERVICE -d
    - docker ps --all
    - docker compose logs sagittarius-$SAGITTARIUS_SERVICE -f &

container:boot:sagittarius:rails-web:
  extends:
    - .container:boot:sagittarius
  variables:
    SAGITTARIUS_SERVICE: rails-web
  script:
    - docker compose run curl-sagittarius-rails-web

container:boot:sagittarius:grpc:
  extends:
    - .container:boot:sagittarius
  variables:
    SAGITTARIUS_SERVICE: grpc
  before_script:
    - bundle install
    - !reference [.container:boot:sagittarius, before_script]
  script:
    - support/grpc_check_health --host docker:50051 --service liveness --retries 20
    - support/grpc_check_health --host docker:50051 --service readiness --retries 20

container:boot:aquila:
  extends:
    - .container:boot
  needs:
    - generate-environment
    - manifest:aquila
    - manifest:sagittarius
  variables:
    SAGITTARIUS_VARIANT: ce
  script:
    - bundle install
    - docker compose up postgres -d
    - docker compose up nats -d
    - docker compose up sagittarius-grpc -d
    - docker ps --all
    - docker compose logs sagittarius-grpc -f &
    - support/grpc_check_health --host docker:50051 --service readiness --retries 20
    - >
      docker compose exec sagittarius-grpc bin/rails runner 'Runtime.create!(name: "Boot Test Runtime", token: "runtime_token")'
    - docker compose up aquila -d
    - docker compose logs aquila -f &
    - support/grpc_check_health --host docker:8081 --service liveness --retries 20
    - support/grpc_check_health --host docker:8081 --service readiness --retries 20

container:boot:taurus:
  extends:
    - .container:boot
  needs:
    - generate-environment
    - manifest:taurus
  script:
    - bundle install
    - docker compose up nats -d
    - docker compose up taurus -d
    - docker compose logs taurus -f &
    - support/grpc_check_health --host docker:8082 --service liveness --retries 20
    - support/grpc_check_health --host docker:8082 --service readiness --retries 20

container:boot:draco:
  extends:
    - .container:boot
  needs:
    - generate-environment
    - manifest:draco
  parallel:
    matrix:
      - DRACO_VARIANT:
          - rest
          - cron
        PLATFORM:
          - amd64
          - arm64
  script:
    - bundle install
    - docker compose up nats -d
    - docker compose up draco -d
    - docker compose logs draco -f &
    - support/grpc_check_health --host docker:8083 --service liveness --retries 20
    - support/grpc_check_health --host docker:8083 --service readiness --retries 20

container:boot:sculptor:
  extends:
    - .container:boot
  needs:
    - generate-environment
    - manifest:sculptor
  parallel:
    matrix:
      - SCULPTOR_VARIANT:
          - ce
          - ee
          - cloud
        PLATFORM:
          - amd64
          - arm64
  script:
    - docker compose up sculptor -d
    - docker ps --all
    - docker compose logs sculptor -f &
    - docker compose run curl-sculptor
